
.chat-card {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-end;
  height: 85vh;
}

.chat-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: min(85vw, 900px);
  margin: 0 auto;
  padding: 30px 0;
  scrollbar-width: thin;
}

.messages-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 12px;
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

.messages-list::-webkit-scrollbar-track {
  background: transparent;
}

.message-wrapper {
  display: flex;
  width: 100%;
}

.message-wrapper.user {
  justify-content: flex-end;

}

.bubble {
  padding: 10px 16px;
  border-radius: 18px;
  max-width: 85%;
  overflow-wrap: normal;
  display: flex;
  flex-direction: column;
}

.bubble::-webkit-scrollbar-track {
  background: transparent;
}

.bubble pre {
  background: #2d2d2d;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
  margin: 8px 0;
}

.bubble code {
  font-family: monospace;
}

.bubble h1 {
  font-size: 1.25rem;
  margin-top: 0;
}

.user .bubble {
  background: var(--bg-bubble-user);
  color: white;
  min-width: 20%;
  text-align: left;
  padding: 0 20px;
  overflow-x: auto;
  }

.assistant .bubble {
  color: canvastext;
}

.input-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: flex-end;
  background-color: var(--bg-chat-input);
  box-shadow: 0px 4px 12px rgba(0,0,0.1, 0.12);
  border-radius: 15px;
}

.input-bar textarea {
  flex: 1;
  width: min(80vw, 800px);
  min-height: 60px;
  max-height: 100px;
  padding: 30px 20px;
  border: none;
  border-radius: 15px;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
  overflow: auto;
  background: transparent;
  resize: none;
  font-family: inherit;
}

.input-bar button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  padding: 8px 16px;
  color: canvastext;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 10px 10px 0;
}

.input-bar button:disabled {
  background: var(--bg-chat-button-inflight);
  cursor: default;
}
